<% if @user.errors %>
    <ul>
        <% @user.errors.full_messages.each do |message| %>
            <li> <%= message %> </li>
        <% end %>
    </ul>
<% end %>
<%= form_for @user do |f| %>
    <%= f.label :username, "Entre com username" %> <br>
    <%= f.text_field :username %> <br>
    <%= f.label :password, "Senha com mínimo de 6 digito" %> <br>
    <%= f.password_field :password %> <br> <br>
    <%= f.submit 'Criar usuário' %>
<% end %>